* { /* * <- 에스터리스크 라고 부르는데 모든 태그에 적용이라는 기능을 가짐*/
    box-sizing: border-box; /* 모든 태그에 border-box 적용 */
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif;
}
/* 앞에서 부터 순서 *if 돋움이 있으면 돋움
     없다면 helvetica -> .. 등등/
/* 선택자 (selector) */
#fixed {
    position: fixed; /* position 속성이 fixed인 경우 컨테이닝 블록은 뷰포트(화면이라고 생각하세요.)나 페이지 영역 */
    /* fixed 위치를 개발자 도구로 옮겨 볼 수 있는데 어디에나 나둬도 변하지 않음 because 부모가 아니라 body이기 때문에*/
    bottom: 50px;
    right: 50px;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50px;
}

/* Cascading Style Sheet */
/* 선택자(selector) */

/* width 나 height 를 %로 두는 경우 부모가 아닐 수도 있다.  */
.blind { /* .은 클래스 */
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

.relative {
    position: relative;
}

.center-align { /* 여기서 div는 생략가능! ex) #header-center
                       단 div만 가능하다. header#mins -> #mins(x) */
    /* 이런 css가 여러번 사용된다면 .을 이용하여 클래스로 바꾸어 사용한다. ex).center-align(이름은 알아서 지어)*/
    margin: 0 auto;
    width: 1080px;
}

/*
    만약 같은 내용의 css 디자인이 들어간다면!
    div#header-center , div#mins{ ,를 찍고 옆에 적어주면 된다.
    margin: 0 auto;
    width: 1130px;
    }
*/
header{
    height: 160px;
    margin-top: 8px;
}

#header-top{

    float: right;
    margin-top: 8px;

}

#header-top span {
    color: #888;
    letter-spacing: -1px;
    font-size: 11px;
    line-height: 22px;
}

#header-search{
    clear: both; /* float를 쓰기 위해선 클리어를 써줘야 한다.*/
    padding-top: 12px;
}

#header-search a {
    text-decoration: none;
}

#header-search h1 { /* div 내에서 자식(바로안에 들어있는것)을 찾고 싶다면 mins > h1 방식을 사용*/
    /* 자손 <- 그외 자식, 손자, 증손자 등등 */
    /* a 태그와 h1 태그 교체이후 설명
       header-search 바로 직졔 자식은 h1 태그였으나 a태그가 이를 감싸면서 h1태그는
       자식이 아닌 자손이 되었음! 따라서 ">" 표시을 제거해야함 (자손과 자식의 차이)*/
    width: 198px;
    height: 48px;
    display: inline-block; /* 오른쪽의 margin을 없앰 */
    /*background-image: url(./sp_search.png);*/
    /*background-position: -4px -10px;*/
    /*background-repeat: no-repeat;*/  /* <- 반복되는것을 막기위함 div보다 넓으면 이미지가 반복되는 것을 막기 위함*/
    /* 한방에 줄이는법 */
    background: url(./sp_search.png) -4px -4px no-repeat;
    vertical-align: middle;
    position: relative;
    top: -5px;
}

#header-search h1 span { /* 눈에 보이지 않는것에 처리 */
    display: none;
}

#header-search h2 {
    display: none;
}

#header-search fieldset {
    margin-left: 18px;
    /*padding-top: 12px;*/
    /*padding-bottom: 12px;*/
    /*padding-left: 10px;*/
    /*padding-right: 0;*/
    /* 위 오른쪽 아래 왼쪽*/
    padding: 12px 0 12px 10px;
    width: 521px;
    height: 49px;
    display: inline-block;
    border: 2px solid #03cf5d; /* hex */
    /* 마진, 보더, 패팅 들을 모두 합쳐서 너비로 맞추어 달라
           content-box -> border-box */
    vertical-align: middle;
    /*
       로고와 검색바 배치 이후에 서로의 height가 다르면 정렬면에서 문제가 발생함
       따라서 vertical-align을 사용하여 정렬을 맞춤
    */
    position: relative;
    /* relative <- 내 위치에서 위치조정*/
}

#header-search fieldset input {
    border: none;
    padding: 0;
    outline: none;
    vertical-align: top;
    width: 405px;
    height: 23px;
}

#header-search fieldset button {
    width: 49px;
    height: 49px;
    border: none;
    padding: 0;
    background: #03cf5d;
    position: absolute;/* 화면에 기반하여 위치한다. */
    /* 컨테이닝 블록을 찾기 위에서 위로 계속 거슬러 올라가 HTML까지 올라간다.
        SO. HTML이 기본 컨테이닝 블록이 된다. / EX) stactic... -> html */
    right: -2px;
    top: -2px;
}

#search-keyboard{
    background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_search.svg);
    background-repeat: no-repeat;
    background-position: -33px -60px; /* 위치잡는거, 그냥 값 줄예정*/
    width: 19px;
    height: 11px;
    display: inline-block;
    margin: 0 -1px; /* 위 오른쪽 아래쪽 왼쪽 -> 상하, 좌우가 같으면 합쳐도 됨*/
    vertical-align: middle; /* inline, inline-block 옆에 붙어있는 애들이 정렬되도록 만들어 줌 */
}
#search-history{
    background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_search.svg);
    background-repeat: no-repeat;
    background-position: -87px -60px;
    width: 9px;
    height: 4px;
    display: inline-block;
    margin: 0 8px;
    vertical-align: middle;
}

/*#header-search fieldset button .search-image*/
/* 너무 길어지면 id로 변경 */

#search-image {
    background-image: url(./sp_search.png);
    background-position: -3px -60px;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    display: inline-block;
    margin: 14px;
}
nav{

    height: 46px;
    border-top: 1px solid #f1f3f6;
    border-bottom: 1px solid #d1d8e4;


}

nav ul {
    display: inline-block;
    margin: 0px;
    padding:16px 0 0 4px;/* 화면에서 보면 알겠지만 옆으로 마진과 패딩을 쓰고 있기에 이를 없애줌 */
    list-style: none; /* 옆에 리스트 쩜을 없애줌 */
}

nav li {
    display: inline-block;
}

nav li:first-child span:first-child {/* 첫번째 자식에 다시 첫번째 자식을 선택 */
    width: 25px;
    background-position: 0 -285px;
    margin-left: 0; /* 케스케이딩( 덮어 씌우는 것 ) ex. 0으로 고정을 하였으나 뒤에서 14로 덮어 씌울 수 있다.*/
}

nav li span:first-child {
    height: 16px;
    display: inline-block;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_nav.png);
    background-repeat: no-repeat;
    margin-left: 10px;
    /* css 우선순위 -> 뒤에 있는 css가 더 우선순위가 높다.*/
    /* !important > inline style attribute > id > 다른 attribute > tag element 순으로 우선순위가 높다.*/
}

nav li:nth-child(2) span:first-child {
    width: 27px;
    background-position: -279px -52px;
}

nav li:nth-child(3) span:first-child {
    width: 40px;
    background-position: -100px -182px;
}

nav li:nth-child(4) span:first-child {
    width: 40px;
    background-position: -101px -156px;
}

nav li:nth-child(5) span:first-child {
    width: 26px;
    background-position: -279px -156px;
}

nav li:nth-child(6) span:first-child {
    width: 25px;
    background-position: -70px -285px;
}

nav li:nth-child(7) span:first-child {
    width: 35px;
    background-position: -125px -130px;
}

nav li:nth-child(8) span:first-child {
    width: 26px;
    background-position: -279px -208px;
}

nav li:nth-child(9) span:first-child {
    width: 26px;
    background-position: -128px -104px;
}

nav li:nth-child(10) span:first-child {
    width: 26px;
    background-position: -36px -259px;
}

nav li:nth-child(11) span:first-child {
    width: 39px;
    background-position: -151px -156px;
}

nav li:nth-child(12) span:first-child {
    width: 26px;
    background-position: -279px -130px;
}

nav li:nth-child(13) span:first-child {
    width: 26px;
    background-position: -234px -233px;
}

nav li:nth-child(14) span:first-child {
    width: 26px;
    background-position: -72px -259px;
}

nav li:nth-child(15) span:first-child {
    width: 13px;
    background-position: -140px -78px;
}

nav li:nth-child(16) span:first-child {
    width: 26px;
    background-position: -279px 0;
}

nav li.more:first-child span:first-child {
    width: 55px;
    background-position: 0 -104px;
}


.nav-divider{
    display: inline-block;
    margin: 18px 16px 0;
    width: 1px;
    height: 14px;
    background: #ebeef3;
}

#search-ranking {
    position: absolute;
    top: 16px;
    right: 100px;
}

#rank-number {
    margin-top: -9px;
    color: #00ab33;
    font-size: 16px;
}
main {
    background-color: #f2f4f7;
}